<article class="news"> 
    <%- data %>
</article> 
<nav role="navigation" class="articles_nav">
    <a href="2023-02-01-european_accessibility_act.html">
        <p>article précédent</p>
        <h3>Pour le secteur privé aussi, il est grand temps de s’y mettre</h3>
    </a>
    <a href="2023-01-31-complaints2022.html">
        <p>article suivant</p>
        <h3>Des réponses qui tardent à être traduites concrètement</h3>
    </a>
</nav>