<% if (message !== '') { %>
<p id="intro"><%- message %></p>
<% } %>
<div id="topics"> 
<% topics.forEach(topic => { %>
    <%- include('topic-412', {topic: topic, md: md, slugify: slugify, tech2URL: tech2URL, shortList: shortList, langOnWCAG: langOnWCAG, langOnEUNorm: langOnEUNorm, autoTests: autoTests, levels: levels}) %>
<% }) %>
</div> 