<% glossary.glossary.forEach(section => { %>
    <h3><%= section.section %></h3>
    <% section.dl.forEach(e => { %>
            <h4 id="<%= slugify(e.dt) %>">
                <%= e.dt %>
            </h4>
                <% e.dd.forEach(f => { %>
                    <%- include('leaf', {'e': f, 'md': md, depth: 0, '__': __}) %>
                <% }) %>
    <% }); %>
<% }) %>

