@charset "UTF-8";
header {
  background-color: var(--menu-dark-blue);
  color: white;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .menu-container {
  position: relative;
  width: 100%;
  max-width: 1150px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header h1, header div.header-title {
  margin: 0;
  padding: 40px 0 0 80px;
  font: normal 200 1.3rem "Fira Sans", sans-serif;
  position: relative;
  color: white;
}
header h1::before, header div.header-title::before {
  background-image: url(../img/vitruve.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 10px;
  border: 1px solid var(--menu-dark-blue);
  border-radius: 50%;
  content: " ";
  animation: lightenlogo 0.5s 0s forwards;
}
header nav {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  background-color: var(--menu-dark-blue);
  position: absolute;
  top: 103px;
  z-index: 1;
}
header nav .hide-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
header nav div#frameworks-fr, header nav div#frameworks-en, header nav div#frameworks-de {
  position: absolute;
  top: -1000px;
}
header nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: var(--menu-dark-blue);
  min-width: 190px;
}
header nav ul#id_search {
  min-width: 0;
}
header nav ul li {
  position: relative;
  list-style: none;
  padding: 5px 20px;
  margin: 0;
}
header nav ul li a.home {
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: top 40% center;
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
header nav ul li a[aria-current=page]:not(.home)::before {
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  background-color: var(--menu-orange);
  top: 13px;
  left: -23px;
  transform: rotate(45deg);
}
header nav ul li a[aria-current=page].home {
  border: 2px solid orange;
  border-radius: 20%;
}
header nav ul li > a.home:hover, header nav ul li > a.home:focus {
  background-image: url(../img/home-orange.svg);
}
header nav ul li button:not(.search-submit) {
  color: white;
  background-color: transparent;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: top 12px right 5px;
  border: none;
  font: normal 400 1rem "Fira Sans", sans-serif;
  padding: 3px 20px 3px 10px;
  margin: 0;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}
header .toggle-menu {
  color: white;
  background-color: transparent;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: top 12px right 5px;
  border: none;
  font: normal 400 1rem "Fira Sans", sans-serif;
  padding: 3px 20px 3px 10px;
  margin: 0;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  background-image: none;
}
header nav ul li button:not(.search):not(.search-submit):hover, header nav ul li button:not(.search):not(.search-submit):focus {
  background-image: url(../img/arrow-orange.svg);
}
header nav ul li button[aria-expanded=false] + ul {
  display: none;
}
header nav ul li button:not(.search):not(.search-submit)[aria-expanded=true] {
  background-image: url(../img/arrow-orange-expanded.svg);
}
header nav ul li.selected:not(:first-child)::before {
  content: " ";
  width: 3px;
  height: 100%;
  background-color: var(--menu-orange);
  position: absolute;
  left: 0;
  top: 0;
}
header nav ul li button.search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: auto 60%;
  background-position: center;
  width: 25px;
  height: 25px;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
header nav ul li a.home:focus-visible {
  outline: var(--menu-orange) solid;
}
header button:focus-visible {
  outline: var(--menu-orange) solid;
}

@keyframes lightenlogo {
  0% {
    border: 1px solid var(--menu-dark-blue);
  }
  100% {
    border: 1px solid white;
  }
}
@media (prefers-reduced-motion: reduce) {
  header h1::before {
    border: 1px solid white;
    animation: none;
  }
}
/* navigation */
.skip-link a:focus-visible {
  outline: var(--menu-orange) solid;
}

header nav ul li button.search:hover, header nav ul li button.search:focus {
  background-image: url(../img/search-orange.svg);
}
header nav ul li button.search[aria-expanded=true] {
  background-image: url(../img/cross.svg);
  background-size: auto 100%;
}

.toggle-menu {
  text-align: left;
  padding-left: 50px !important;
}
.toggle-menu span {
  display: inline-block;
  content: "≡";
  font-size: 1.5em;
  position: absolute;
  top: -1px;
  line-height: 1em;
  left: 30px;
}
.toggle-menu:hover span {
  color: var(--menu-orange);
}

header ul.menu-lang {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

header ul.menu-lang li p {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font: 500 1.1rem "Fira Sans", sans-serif;
}

header ul.menu-lang li a {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: white;
  font: 300 1rem "Fira Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul.menu-lang li a:hover {
  background-color: var(--menu-navy-blue);
}

header ul.menu-lang li a:focus {
  background-color: var(--menu-navy-blue);
  border: 1px solid white;
}

header ul.menu-lang .sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

header nav ul li ul {
  flex-direction: column;
  background-color: var(--menu-dark-blue);
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--menu-orange);
}
header nav ul li ul li {
  padding: 0;
  margin: 0;
}
header nav ul li ul li a {
  color: white;
  display: block;
  margin: 0;
  padding: 9px 10px;
  text-decoration: none;
  font: normal 300 1rem "Fira Sans", sans-serif;
}
header nav ul li ul li a:hover, header nav ul li ul li a:focus, header nav ul li ul li a:focus:visited {
  background-color: var(--menu-navy-blue);
  color: white;
  text-decoration: none;
}
header nav ul li ul hr {
  width: 90%;
  border: 0;
  border-top: 1px dotted var(--menu-orange);
}

input.search-field {
  border-radius: 0 0 9px 9px;
  border: 1px solid var(--menu-dark-blue);
  background-color: white;
  width: 100%;
  color: black;
  box-sizing: border-box;
  padding: 5px;
}
input.search-field:focus-visible {
  outline: var(--menu-navy-blue);
}
input.search-field::placeholder {
  color: #505050;
  font-size: 0.9rem;
}

button.search-submit {
  border: none;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  margin: 10px 0 0 0;
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 25px;
}
button.search-submit:hover, button.search-submit:focus {
  border: none;
  background-image: url(../img/search-orange.svg);
}

header nav ul li button span {
  pointer-events: none;
}

@media screen and (max-width: 754px) {
  .toggle-menu[aria-expanded=false] + ul {
    display: none;
  }
}
@media screen and (min-width: 355px) {
  header h1, header div.header-title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 720px) {
  header ul.menu-lang li {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 755px) {
  header {
    height: 170px;
  }
  header h1, header div.header-title {
    font: normal 200 2.1rem "Fira Sans", sans-serif;
    padding: 40px 0 0 90px;
  }
  header h1::before, header div.header-title::before {
    width: 60px;
    height: 60px;
  }

  .toggle-menu {
    display: none;
  }
  .toggle-menu[aria-expanded=false] + nav {
    display: flex;
  }

  header nav {
    position: initial;
  }
  header nav ul {
    flex-direction: row;
    padding: 0 0 2px 0;
  }
  header nav ul li {
    padding: 0;
    margin: 0 10px 0 0;
  }
  header nav ul li a.home {
    margin: 0 20px 0 25px;
    width: 30px;
  }
  header nav ul li a[aria-current=page]:not(.home)::before {
    left: -7px;
  }
  header nav ul li button {
    text-transform: capitalize;
  }
  header nav ul li button.search {
    margin-left: 20px;
  }
  header nav div#frameworks-fr {
    color: var(--menu-dark-blue);
    top: 110px;
    left: 392px;
    width: 0;
    border-bottom: 4px solid var(--menu-navy-blue);
    font: normal 200 1rem "Fira Sans", sans-serif;
    text-align: left;
    padding-bottom: 3px;
    animation: drawline 0.5s 0s forwards;
  }
  header nav div#frameworks-en, header nav div#frameworks-de {
    color: var(--menu-dark-blue);
    top: 110px;
    left: 355px;
    width: 0;
    border-bottom: 4px solid var(--menu-navy-blue);
    font: normal 200 1rem "Fira Sans", sans-serif;
    text-align: left;
    padding-bottom: 3px;
    animation: drawline 0.5s 0s forwards;
  }
  header nav ul li ul {
    position: absolute;
    top: 27px;
    z-index: 10;
  }
  header nav ul li.selected ul {
    border-left: 3px solid var(--menu-orange);
  }

  @keyframes drawline {
    0% {
      width: 0;
      color: var(--menu-dark-blue);
    }
    20% {
      color: var(--menu-dark-blue);
    }
    80% {
      width: 205px;
    }
    100% {
      width: 205px;
      color: white;
    }
  }
}
@media screen and (min-width: 755px) and (prefers-reduced-motion: reduce) {
  header nav div#frameworks-fr {
    width: 250px;
    color: white;
    animation: none;
  }

  header nav div#frameworks-en, header nav div#frameworks-de {
    width: 205px;
    color: white;
    animation: none;
  }
}
@media screen and (min-width: 755px) {
  input.search-field {
    position: absolute;
    top: 2px;
    right: -59px;
    width: 225px;
    border-radius: 12px;
  }
}
@media screen and (min-width: 755px) {
  button.search-submit {
    background-color: var(--menu-dark-blue);
    border-radius: 50%;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 3px;
    width: 25px;
    right: -40px;
  }
}
@media screen and (min-width: 755px) {
  header nav ul li button span.mobile-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
@media screen and (min-width: 920px) {
  header h1, header div.header-title {
    padding: 50px 0 0 140px;
  }
  header h1::before, header div.header-title::before {
    width: 60px;
    height: 60px;
    top: 40px;
    left: 60px;
  }
  header nav ul li {
    padding: 0;
    margin: 0 20px 0 0;
  }
  header nav ul li a.home {
    margin: 0 30px 0 75px;
  }
  header nav ul li button:not(.search):not(.search-submit) {
    padding: 3px 30px 3px 10px;
    background-position: top 12px right 10px;
  }

  button.search-submit {
    right: -60px;
  }

  header nav div#frameworks-fr {
    left: 522px;
  }

  header nav div#frameworks-en, header nav div#frameworks-de {
    left: 487px;
  }

  @keyframes drawline {
    0% {
      width: 0;
      color: var(--menu-dark-blue);
    }
    20% {
      color: var(--menu-dark-blue);
    }
    80% {
      width: 250px;
    }
    100% {
      width: 250px;
      color: white;
    }
  }
}
@media screen and (min-width: 1150px) {
  input.search-field {
    position: absolute;
    top: -28px;
    left: 100px;
    border-radius: 9px;
    border: 1px solid white;
    background-color: var(--menu-dark-blue);
    height: 24px;
    width: 180px;
    color: white;
    box-sizing: border-box;
    padding: 0 5px;
  }
  input.search-field::placeholder {
    color: #b4b4b4;
  }

  button.search-submit {
    position: absolute;
    top: -29px;
    left: 300px;
    cursor: pointer;
    background-image: url(../img/search.svg);
  }
}
