@charset "UTF-8";

/*! scampi 1.0 CSS */
/*! Licence MIT ou CeCILL-B */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

@-moz-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@-webkit-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

html {
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-size: 1em;
    line-height: 1.5;
    color: #313740;
    background-color: #fff
}

[tabindex="-1"]:focus {
    outline: none !important
}

[role=button] {
    cursor: pointer
}

button {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation
}

figure {
    margin: 0
}

body {
    font-family: Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
}

address {
    margin-bottom: 1em;
    font-style: normal;
    line-height: inherit
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5em;
    font-family: Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    line-height: 1.25;
    color: #313740
}

.h1,
h1 {
    font-size: 2.5em
}

.h2,
h2 {
    font-size: 2em
}

.h3,
h3 {
    font-size: 1.75em
}

.h4,
h4 {
    font-size: 1.5em
}

.h5,
h5 {
    font-size: 1.25em
}

.h6,
h6 {
    font-size: 1em
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1em
}

ol,
ul {
    padding-left: 1em
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5em;
    margin-left: 0
}

p {
    margin-top: 0
}

hr,
p {
    margin-bottom: 1em
}

hr {
    margin-top: 1em;
    border: 0;
    border-top: 1px solid #cbd0d7
}

a {
    color: #004774
}

a,
a:focus,
a:hover {
    text-decoration: underline
}

a:focus,
a:hover {
    color: #001828
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

abbr[title] {
    text-decoration: none
}

.mark,
mark {
    padding: .2em;
    background-color: #ff0
}

.small,
small {
    font-size: 80%;
    font-weight: 400
}

q {
    quotes: "“" "”" "‘" "’"
}

:lang(fr) > q {
    quotes: "« " " »" "“" "”" "‘" "’"
}

:lang(en) > q {
    quotes: "“" "”" "‘" "’"
}

:lang(es) > q {
    quotes: "«" "»" "“" "”"
}

:lang(it) > q {
    quotes: "« " " »" "“" "”"
}

:lang(de) > q {
    quotes: "„" "“" "‚" "‘"
}

q:before {
    content: open-quote
}

q:after {
    content: close-quote
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 90%;
    line-height: 1.5;
    color: #525c6b;
    background-color: #f7f7f9
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    border-radius: 0
}

code {
    color: #bd4147;
    background-color: #f7f7f9;
    border-radius: 4px
}

code,
kbd {
    padding: .2em .4em;
    font-size: 90%
}

kbd {
    color: #fff;
    background-color: #333;
    border-radius: 3px
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.center-block,
.container {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.container {
    padding-left: .5em;
    padding-right: .5em
}

.container:after {
    content: "";
    display: table;
    clear: both
}

.list-inline,
.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline > li {
    display: inline-block
}

.list-inline > li:not(:last-child) {
    margin-right: .25em
}

.list-inline-item {
    display: inline-block
}

.list-inline-item:not(:last-child) {
    margin-right: .25em
}

.lead {
    font-size: 1.25em;
    font-weight: 400
}

.text-nowrap {
    white-space: nowrap !important
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.text-muted {
    color: #687588
}

.initialism {
    font-size: 90%;
    text-transform: uppercase
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    white-space: normal
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto
}

table, .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em
}

@media (max-width:50em) {
    table, .table {
        display: block;
        overflow-x: auto
    }
}

table caption, .table caption {
    padding: .75rem .4rem;
    color: #313740;
    width: 100%
}

table caption, .table caption,
table th, .table th {
    text-align: left
}

table td, table th, .table td,
.table th {
    padding: .75rem .4rem;
    vertical-align: top;
    border-top: 1px solid #dadde2;
    color: #313740
}

table .thead th, .table .thead th,
table thead th, .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dadde2;
    background-color: #dadde2;
    color: #313740
}

table tbody + tbody, .table tbody + tbody {
    border-top: 2px solid #dadde2
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.table-hover tbody tr:hover {
    color: #313740;
    background-color: rgba(0, 0, 0, .075)
}

.form-control {
    display: block;
    width: 100%;
    padding: .5em .75em;
    font-size: 1em;
    line-height: 1.5;
    color: #3c434e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #3c434e;
    background-color: #fff;
    border-color: #0095f4;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0, 71, 116, .25)
}

.form-control::placeholder {
    color: #999;
    opacity: 1
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #dadde2;
    opacity: 1
}

select.form-control:not([size]):not([multiple]) {
    height: 2.5em
}

select.form-control:focus::-ms-value {
    color: #3c434e;
    background-color: #fff
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%
}

.symbol-required {
    color: #a94442
}

.form-group {
    margin-bottom: 1em
}

.form-text {
    display: block;
    margin-top: .25em
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25em
}

.form-check-input {
    position: absolute;
    margin-top: .3em;
    margin-left: -1.25em
}

.form-check-input:disabled ~ .form-check-label {
    color: #687588
}

.form-check-label {
    margin-bottom: 0
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: .75em
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125em;
    margin-left: 0
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    color: #3c434e;
    background-color: #dadde2;
    border: 1px solid #bdc3cc;
    padding: .25rem 1rem;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 4px
}

.btn:hover {
    color: #3c434e;
    background-color: #c4c9d2;
    border-color: #929bab
}

.btn.focus,
.btn:focus {
    background-color: #c4c9d2;
    box-shadow: 0 0 0 .2rem rgba(189, 195, 204, .5)
}

.btn.disabled,
.btn:disabled {
    color: #3c434e;
    background-color: #dadde2;
    border-color: #bdc3cc
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active,
.show > .btn.dropdown-toggle {
    color: #3c434e;
    background-color: #bdc3cc;
    border-color: #99a2b0
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus {
    background-color: #c4c9d2;
    box-shadow: 0 0 0 .2rem rgba(189, 195, 204, .5)
}

.btn:focus,
.btn:hover {
    text-decoration: none
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 71, 116, .25)
}

.btn.disabled,
.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-image: none
}

.btn-primary {
    color: #fff;
    background-color: #004774;
    border-color: #002841
}

.btn-primary:hover {
    color: #fff;
    background-color: #00304e;
    border-color: #000
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #00304e;
    box-shadow: 0 0 0 .2rem rgba(0, 40, 65, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #004774;
    border-color: #002841
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #002841;
    border-color: #000101
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    background-color: #00304e;
    box-shadow: 0 0 0 .2rem rgba(0, 40, 65, .5)
}

.btn-secondary {
    color: #3c434e;
    background-color: #fff;
    border-color: #bdc3cc
}

.btn-secondary:hover {
    color: #3c434e;
    background-color: #ececec;
    border-color: #929bab
}

.btn-secondary.focus,
.btn-secondary:focus {
    background-color: #ececec;
    box-shadow: 0 0 0 .2rem rgba(189, 195, 204, .5)
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #3c434e;
    background-color: #fff;
    border-color: #bdc3cc
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #3c434e;
    background-color: #e6e6e6;
    border-color: #99a2b0
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    background-color: #ececec;
    box-shadow: 0 0 0 .2rem rgba(189, 195, 204, .5)
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none
}

.alert {
    border-radius: 4px;
    padding: .5em 1em;
    margin-bottom: 1em;
    border: 1px solid transparent
}

.alert > p,
.alert > ul {
    margin-bottom: 0
}

.alert > p + p {
    margin-top: .5em
}

.alert a {
    font-weight: 700
}

.alert-emergency {
    display: flex
}

.alert-emergency svg {
    font-size: 1.5em;
    margin: .75em .5em .5em 0
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d
}

.alert-success hr {
    border-top-color: #c1e2b3
}

.alert-success a {
    color: #2b542c
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f
}

.alert-info hr {
    border-top-color: #a6d5ec
}

.alert-info a {
    color: #245269
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #deceb3;
    color: #8a6d3b
}

.alert-warning hr {
    border-top-color: #d7c3a1
}

.alert-warning a {
    color: #66512c
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442
}

.alert-danger hr {
    border-top-color: #e4b9b9
}

.alert-danger a {
    color: #843534
}

.alert-emergency {
    background-color: #ececec;
    border-color: #dfdfdf;
    color: #586d84
}

.alert-emergency hr {
    border-top-color: #d3d3d3
}

.alert-emergency a {
    color: #445465
}

body {
    font-size: 1.1em
}

@media (min-width:34em) {
    body {
        font-size: 1em
    }
}

@media (min-width:80em) {
    .footer {
        font-size: .8888888889em
    }
}

.container {
    max-width: 100%
}

@media (min-width:60em) {
    .container {
        max-width: 70em
    }
}