<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
                <requestLimits maxUrl="20100" maxQueryString="20000" />
            </requestFiltering>
        </security>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/fr/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="fr/index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <location path="fr/rgaa4/obligations.html">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://accessibilite.public.lu/fr/obligations.html" exactDestination="true" childOnly="false" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>
    <location path="fr/rgaa4/licence.html">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://accessibilite.public.lu/fr/licence.html" exactDestination="true" childOnly="false" httpResponseStatus="Permanent" />
        </system.webServer>
    </location> 
    <location path="fr/rgaa4/audit-simpl.html">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://accessibilite.public.lu/fr/monitoring/audit-simpl.html" exactDestination="true" childOnly="false" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>
    <location path="fr/rgaa4/kit.html">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://accessibilite.public.lu/fr/tools/kit.html" exactDestination="true" childOnly="false" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>         
</configuration>